footer {
  background-color: #0d2554;
  color: white;
  font-family: sans-serif;
  padding: 20px 40px 20px 40px;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.container h2 {
  font-size: 20px;
  font-weight: 500;
}
.container p {
  font-size: 14px;
}
.copyright {
  text-align: center;
  font-size: 12px;
}
